$gray-200: #EAECF0;
$gray-300: #D0D5DD;
$gray-500: #667085;
$gray-700: #344054;
$gray-900: #101828;
$primary: #7F56D9;
$primary-2:  #6941C6;
$radius-sm: 0.5rem;
$shadow-xs: 0px 1px 2px rgba(16, 24, 40, 0.05);
$shadow-sm-2: 0px 1px 3px rgba(16, 24, 40, 0.1), 0px 1px 2px rgba(16, 24, 40, 0.06);
$white: #ffffff;

%medium-text {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}